---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="who is stefanhts?"
	pubDate={new Date('November 16 2023')}
	heroImage="/blog-about-me.jpeg"
>
	<p>
        I am stefanhts and this will be about me
	</p>
</Layout>
