---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello, stefanhts here 👋</h1>
			<p>
                This is my new blog and personal website, previously the abandoned <a href="https://stheller.com">stheller.com</a>
				
			</p>
            <p>
                I plan to post here more often with book reviews, things I  have learned and advice for people who might
                be interested in the work I do 🙂
			</p>
		</main>
		<Footer />
	</body>
</html>
